# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

covid-data-observability-a7e8265daeba
*.json

.env
virtual-env/

# dbt
healthcare_dbt/target/
healthcare_dbt/dbt_packages/
healthcare_dbt/logs/

# Great Expectations
gx/uncommitted/

# Elementary report
*.html

# Spark
*.parquet
spark-warehouse/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
edr_target/